/* about us */
.about-us {
  margin: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-content h3 {
  color: #ff6347;
}
.about-img img {
  width: 500px;
}
/* about responsive */
@media only screen and (max-width: 653px) {
  .about-us {
    flex-direction: column;
  }
  .about-img img {
    width: 200px;
  }
}

@media only screen and (min-width: 654px) and (max-width: 768px) {
  .about-us {
    flex-direction: column;
  }
}
